/audio/
/config/config.js
/config/testclient-key.js
/config/teams.js
/index.php
/index.html
/preactalpha.html
/crossprotocol.html
/data/*
node_modules/
eslint-cache/
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
/vendor/

/js/server/
/js/*.js.map
/js/battle*.js
/js/panel*.js
/js/replay-embed.js
/js/client-main.js
/js/client-core.js
/js/client-connection.js

/replays/caches/
/replays/replay-config.inc.php
/replays/theme/wrapper.inc.php

/website/.well-known/
/website/.pages-cached/
/website/files/
/website/images/
/website/ads.txt
resources.zip
sprites-master.zip
config/routes.json
fx/alpha.png
fx/angry.png
fx/bg-gen1-spl.png
fx/bg-gen1.png
fx/bg-space.jpg
fx/bg-spl.png
fx/blackwisp.png
fx/caltrop.png
fx/client-bg-ocean.jpg
fx/client-bg-psday.jpg
fx/electroball.png
fx/feather.png
fx/fist.png
fx/fist1.png
fx/foot.png
fx/gear.png
fx/gender-m.png
fx/greenmetal1.png
fx/greenmetal2.png
fx/hangman0.png
fx/hitmarker.png
fx/icicle-pink.png
fx/impact.png
fx/leaf1.png
fx/leftchop.png
fx/leftslash.png
fx/lightning.png
fx/mudwisp.png
fx/omega.png
fx/petal.png
fx/pointer.png
fx/poisoncaltrop.png
fx/poisonwisp.png
fx/pokeball.png
fx/rainbow.png
fx/rightchop.png
fx/rightslash.png
fx/rock3.png
fx/shadowball.png
fx/shell.png
fx/shine.png
fx/stare.png
fx/sword.png
fx/ultra.png
fx/weather-electricterrain.png
fx/weather-grassyterrain.png
fx/weather-gravity.png
fx/weather-magicroom.png
fx/weather-mistyterrain.png
fx/weather-psychicterrain.png
fx/weather-raindance.jpg
fx/weather-sunnyday.jpg
fx/weather-wonderroom.png
fx/web.png
fx/wisp.png
fx/z-symbol.png
